@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400&family=Roboto:ital,wght@0,300;1,500;1,700&display=swap');
:root {
    --mandarine: #EC6A37;
    --red-dark: #990606;
    --red: #e02222;
    --tape-gray: #eeedeb;
    --tape-edge-gray: #b7b49d;
    --transparent: rgba(255, 255, 255, 0);
  }
  
  
  .red {
    --paper-color: var(--red);
    --paper-dark: var(--red-dark);
    --shadow-size: 1px;
    --transparent: rgba(236, 178, 186, 0);
  }
  
  .paper {
    position: absolute;
    top:0.5rem;
    right:1rem;
    background: linear-gradient(
        to bottom right,
        var(--paper-dark),
        20%,
        var(--transparent)
      ),
      var(--paper-color);
    width: 5%;
    height: 15%;
    font-family: 'Kalam', cursive;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: var(--shadow-size) var(--shadow-size) 1px var(--paper-dark);

  }
  
  .paper::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        var(--transparent),
        50%,
        var(--paper-dark),
        51%,
        var(--transparent)
      ),
      linear-gradient(
        to right,
        var(--transparent),
        50%,
        var(--paper-dark),
        51%,
        var(--transparent)
      );
  }
  
  .tape-section {
    position: absolute;
    width: 100%;
  }
  
  .tape-section:first-of-type {
    top: -7%;
    left:4%
  }

  
  .tape-section::before {
    content: "";
    width: 60%;
    height: 0.5rem;
    position: absolute;
    background-color: var(--tape-gray);
    opacity: 0.5;
    border-right: 1px dotted var(--tape-edge-gray);
    border-left: 1px dotted var(--tape-edge-gray);
  }
  
  
  .tape-section:first-of-type::before {

    left: 1.5vmin;
  }

  .stamp {
      position: absolute;
      top:2.5rem;
      right:8rem;
      color: #555;
      font-size: 3rem;
      font-weight: 700;
      border: 0.25rem solid #555;
      border-radius: 100%;
      display: inline-block;
      padding: 0.25rem 1rem;
      text-transform: uppercase;
      border-radius: 1rem;
      font-family: 'Courier';
      -webkit-mask-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/8399/grunge.png');
    -webkit-mask-size: 944px 604px;
    mix-blend-mode: multiply;
  }
  .is-nope {
    color: #D23;
    border: 0.5rem double #D23;
    transform: rotate(15deg);
      -webkit-mask-position: 2rem 3rem;
    font-size: 1.5rem;  
  }
  
.stack1::before{
    content: "";    
    padding:0.4em;
    border-radius: 0.375rem; 
    position: absolute;
    height:99.2%;
    left:-0.3rem; 
    border:0.01rem lightgrey solid;
    z-index: -1;
    background-color: white;
}
.stack1::after{
    content: "";
    border:0.01rem lightgrey solid;
    padding:0.5em;
    position:absolute;
    height:97.2%;
    left:-0.6rem;
    border-radius: 0.375rem;
    z-index:-2;
    background-color: white;
    top:0.1rem
}
.stack2::before{
    content: "";
    border:0.01rem lightgrey solid;
    padding:0.5em;
    position:absolute;
    height:96%;
    left:-0.9rem;
    border-radius: 0.375rem;
z-index: -3;
    top:0.13rem
}

@media (min-width: 600px){
.css-17td3cf-MuiContainer-root{
  padding:0 !important;
}
}



